// Colors
$color-white: #FFFFFF;
$color-violet: #5D5FEF;
$color-pink: #EF5DA8;
$color-blue: #3877EE;
$color-black-blue: #42567A;

$color-background: #FFFFFF;

// RGBA Colors
$color-black-blue-10: rgba($color-blue, 0.1);
$color-black-blue-20: rgba($color-blue, 0.2);

$container-max-width: 1440px;