@use "@mixins" as *;

@keyframes shake {
  0%   { transform: translateX(-50%) translateX(0); }
  20%  { transform: translateX(-50%) translateX(-5px); }
  40%  { transform: translateX(-50%) translateX(5px); }
  60%  { transform: translateX(-50%) translateX(-5px); }
  80%  { transform: translateX(-50%) translateX(5px); }
  100% { transform: translateX(-50%) translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

:root {
  --circle-rotation-duration: 0.8s;
}

.root {
  width: 100%;
  height: 57%;
  padding: 0 $historicalSliderSidePadding;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: relative;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid $color-black-blue-10;
}

.control {
  position: absolute;
  left: $historicalSliderSidePadding;
  bottom: 0;
}

.counter {
  color: $color-black-blue;
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.tabulation {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.tab {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-gray;

  &.active {
    background-color: $color-black-blue;
  }
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.pointsWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  @include transition((transform), var(--circle-rotation-duration));
}

.date {
  font-weight: bold;
  font-size: 200px;
  letter-spacing: -4px;
  line-height: 160px;
}

.firstDate {
  color: $color-violet;
  position: absolute;
  left: 30%;
  top: 39%;
  width: max-content;
  transform: translateX(-50%);
}

.secondDate {
  position: absolute;
  left: 67%;
  top: 39%;
  width: max-content;
  transform: translateX(-50%);
  color: $color-pink;
}

.hiddenSwiper {
  display: none;
}

.circlePoint {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include transition((transform));

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    background-color: $color-black-blue;
    border: 1px solid $color-black-blue-30;
    @include transition((background-color, width, height))
  }

  &:hover {
    &::before {
      width: 56px;
      height: 56px;
      background-color: $color-background;
    }

    .pointNumber {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.showText {
    .pointName {
      opacity: 1;
    }
  }

  &.active {
    &::before {
      width: 56px;
      height: 56px;
      background-color: $color-background;
    }

    .pointNumber {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.pointNumber {
  color: $color-black-blue;
  font-size: 20px;
  line-height: 30px;
  transform: scale(0.1);
  opacity: 0;
  @include transition((transform, opacity));
}

.pointName {
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translate(0, -50%);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: $color-black-blue;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: $wide) {
  .date {
    font-size: 180px;
  }
}

@media (max-width: $desktop) {
  .circle {
    width: 450px;
    height: 450px;
  }

  .date {
    font-size: 140px;
  }
}

@media (max-width: $laptop) {
  .root {
    padding: 0 $historicalSliderSidePaddingSmall;
  }

  .date {
    font-size: 120px;
  }

  .firstDate {
    left: 25%;
  }

  .secondDate {
    left: 72%;
  }

  .control {
    left: $historicalSliderSidePaddingSmall;
  }
}

@media (max-width: $tablet) {
  .root {
    position: initial;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: start;
    align-items: flex-start;
    transform: translateX(0);
  }

  .date {
    font-size: 100px;
  }

  .firstDate {
    top: 30%;
  }

  .secondDate {
    top: 30%;
  }

  .control {
    position: fixed;
    left: $historicalSliderSidePaddingSmall;
    bottom: 13px;
  }

  .counter {
    margin-bottom: 10px;
  }

  .tabulation {
    display: flex;
  }

  .circle {
    display: none;
  }
}

@media (max-width: $mobile) {
  .date {
    font-size: 56px;
    letter-spacing: -2px;
  }

  .firstDate {
    top: 22%;
    left: 25%;
  }

  .secondDate {
    top: 22%;
    left: 70%
  }

  .counter {
    margin-bottom: 5px;
  }

  .navigation {
    display: flex;
    align-items: center;
    column-gap: 8.33px;
  }
}