@use "@mixins" as *;

@keyframes shake {
  0%   { transform: translateX(-50%) translateX(0); }
  20%  { transform: translateX(-50%) translateX(-5px); }
  40%  { transform: translateX(-50%) translateX(5px); }
  60%  { transform: translateX(-50%) translateX(-5px); }
  80%  { transform: translateX(-50%) translateX(5px); }
  100% { transform: translateX(-50%) translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

:root {
  --circle-rotation-duration: 0.8s;
}

.root {
  width: 90%;
  height: 57%;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-black-blue-10;
}

.circle {
  position: relative;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid $color-black-blue-10;
}

.pointsWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  @include transition((transform), var(--circle-rotation-duration));
}

.firstDate {
  color: $color-violet;
  position: absolute;
  left: 28%;
  top: 39%;
  width: max-content;
  transform: translateX(-50%);
}

.secondDate {
  position: absolute;
  left: 69%;
  top: 39%;
  width: max-content;
  transform: translateX(-50%);
  color: $color-pink;
}

.hiddenSwiper {
  display: none;
}

.circlePoint {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include transition((transform));

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    background-color: $color-black-blue;
    border: 1px solid $color-black-blue-30;
    @include transition((background-color, width, height))
  }

  &:hover {
    &::before {
      width: 56px;
      height: 56px;
      background-color: $color-background;
    }

    .pointNumber {
      opacity: 1;
      transform: scale(1);
    }
  }


  &.showText {
    .pointName {
      opacity: 1;
    }
  }

  &.active {
    &::before {
      width: 56px;
      height: 56px;
      background-color: $color-background;
    }

    .pointNumber {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.pointNumber {
  color: $color-black-blue;
  font-size: 20px;
  line-height: 30px;
  transform: scale(0.1);
  opacity: 0;
  @include transition((transform, opacity));
}

.pointName {
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translate(0, -50%);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: $color-black-blue;
  white-space: nowrap;
  opacity: 0;
  //@include transition((opacity));
}
