.root {
  position: relative;
  border-left: 1px solid $color-black-blue-10;
  border-right: 1px solid $color-black-blue-10;
  height: 100vh;
}

.decorVertical {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: $color-black-blue-10;
}

.decorHorizontal {
  position: absolute;
  top: 44.5%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: $color-black-blue-10;
}

@media (max-width: $tablet) {
  .decorHorizontal {
    display: none;
  }
  .decorVertical {
    display: none;
  }
}