.root {
  position: absolute;
  left: 0;
  top: 170px;
  padding-left: $historicalSliderSidePadding;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(180deg, $color-violet 0%, $color-pink 100%);
  }
}

.title {
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  color: $color-black-blue;
  white-space: pre-wrap;
}

@media (max-width: $laptop) {
  .root {
    padding-left: $historicalSliderSidePaddingSmall;
  }
  .title {
    font-size: 46px;
    font-weight: 600;
    line-height: 120%;
  }
}

@media (max-width: $tablet) {
  .root {
    top: 70px;
    left: $historicalSliderSidePaddingSmall;
    padding-left: 0;

    &::before {
      display: none;
    }
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: $mobile) {
  .root {
    top: 59px;
  }
  .title {
    font-size: 20px;
  }
}

