@use "@mixins" as *;

@font-face {
  font-family: "Bebas Neue";
  src: url("~@fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
}

.root {
  position: absolute;
  bottom: 104px;
  left: 0;
  width: 100%;
  height: 135px;
  padding: 0 calc($historicalSliderSidePadding + 20px) 0 $historicalSliderSidePadding;
}

.slide {
  width: 320px;

  &:nth-child(even) {
    width: 400px;
  }
}

.slideTitle {
  color: $color-blue;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: "Bebas Neue", sans-serif;
}

.slideText {
  font-size: 20px;
  line-height: 30px;
  color: $color-black-blue;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  position: absolute;
  transform: translateY(-50%);
  opacity: 1;
  @include transition(opacity);
}

.prevButton {
  left: 20px;
  top: 45%;
}

.nextButton {
  right: 40px;
  top: 45%;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpFade var(--circle-rotation-duration) ease-out forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: $laptop) {
  .root {
    padding: 0 calc($historicalSliderSidePaddingSmall + 20px) 0 $historicalSliderSidePaddingSmall;
  }
}

@media (max-height: $laptop) {
  .root {
    bottom: 50px;
  }
}

@media (max-width: $tablet) {
  .root {
    height: 150px;
    bottom: 141px;
    padding: $historicalSliderSidePaddingSmall 0 0;

    &::before {
      content: "";
      display: block;
      width: calc(100% - 2*$historicalSliderSidePaddingSmall);
      height: 2px;
      background-color: $color-gray;
      position: absolute;
      top: -20px;
      left: $historicalSliderSidePaddingSmall;
    }

    :global(.swiper) {
      padding: 0 $historicalSliderSidePaddingSmall;
    }
  }

  .prevButton {
    display: none;
  }

  .nextButton {
    display: none;
  }
}

@media (max-width: $mobile) {
  .root {
    height: 134px;

    &::before {
      top: 0;
    }
  }

  .slideTitle {
    font-size: 16px;
    line-height: 120%;
  }

  .slideText {
    font-size: 14px;
    line-height: 145%;
    -webkit-line-clamp: 4;
  }

  .slide {
    width: 166px;

    &:nth-child(even) {
      width: 255px;
    }
  }
}