@use "@mixins" as *;

.root {
  position: absolute;
  bottom: 104px;
  left: 0;
  width: 100%;
  height: 135px;
  padding: 0 calc($historicalSliderSidePadding + 20px) 0 $historicalSliderSidePadding;
}

.slide {
  width: max-content;
  width: 320px;

  .slide:nth-child(even) {
    width: 400px;
  }
}

.slideTitle {
  color: $color-blue;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: "Bebas Neue", sans-serif;
}

.slideText {
  font-size: 20px;
  line-height: 30px;
  color: $color-black-blue;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  position: absolute;
  transform: translateY(-50%);
  opacity: 1;
  @include transition(opacity);
}

.prevButton {
  left: 20px;
  top: 45%;
}

.nextButton {
  right: 40px;
  top: 45%;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpFade var(--circle-rotation-duration) ease-out forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



