.button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: 50%;
    height: 50%;
  }

  // sizes
  &.small {
    width: 40px;
    height: 40px;
  }

  &.medium {
    width: 50px;
    height: 50px;
  }

  // styles
  &.transparent {
    background-color: transparent;
    border: 1px solid $color-black-blue-50;

    svg {

      fill: $color-black-blue;
    }
  }

  &.white {
    background-color: $color-white;
    box-shadow: 0 0px 15px $color-blue-10;

    svg {
      fill: $color-blue;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

@media (max-width: $mobile) {
  .button {
    &.medium {
      width: 25px;
      height: 25px;
    }
  }
}

