.button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // sizes
  &.small {
    width: 40px;
    height: 40px;
  }

  &.medium {
    width: 50px;
    height: 50px;
  }

  // styles
  &.transparent {
    background-color: transparent;
    border: 1px solid $color-black-blue-50;

    svg {
      stroke: $color-black-blue
    }
  }

  &.standard {
    background-color: $color-background;

    svg {
      stroke: $color-blue;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

