.button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // sizes
  &.small {
    width: 40px;
    height: 40px;

    svg {
      width: 7px;
      height: 12px;
    }
  }

  &.medium {
    width: 50px;
    height: 50px;

    svg {
      width: 9.25px;
      height: 15.5px;
    }
  }

  // styles
  &.transparent {
    background-color: transparent;
    border: 1px solid $color-black-blue-50;

    svg {

      stroke: $color-black-blue;
    }
  }

  &.white {
    background-color: $color-white;
    box-shadow: 0 0px 15px $color-blue-10;

    svg {
      stroke: $color-blue;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

